* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
    background: linear-gradient(to right, #d1f3f8, #f0faff);
  height: 550px;
}

.imageContainer img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.detailsContainer {
  margin-top: 30px;
  background-color: white;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.detailsContainer h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color:#286b80;
  text-align: center;
}

.detailsContainer p {
  font-size: 1.1rem;
  margin: 8px 0;
  color: #444;
}

.detailsContainer strong {
  color: #333;
}

.Button {
  margin-top: 30px;
  background-color: #286b80; 
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: capitalize;
  text-decoration: none;
}
.Button a{
  text-decoration: none;
  height: 80px;
  width: 120px;
  color: white;
}
.Button:hover {
  background-color: #1e5664;
}

@media screen and (min-width: 768px) {
  .detailContainer {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
  }

  .detailsContainer {
    margin-top: 0;
  }

  .Button {
    align-self: flex-end;
  }
}

